@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
i {color: #743cbc;}

body{
    background: url(assets/img/fondo.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    padding: 90px 20px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/* Comienzo barra de Menú */
.header{
    background-color: #fff;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid rgb(230, 230, 230);
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: #fc9c19;
    text-decoration: none;
}
.logo{
   cursor: pointer;
   height: 50px;
   margin: 0 20px;
}
.nav-menu{
    display: flex;
    margin-right: 30px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 60px;
    width: max-content;
}
.nav-menu-item a:hover{
    color:#743cbc;
}
.nav-menu-link{
    padding:1rem 12px;
    border-radius: 0px;
}
.nav-menu-link:hover{
    background-color: rgb(230, 230, 230);
    transition: 0.5s;  
}
.nav-toggle{
    color: rgb(230, 230, 230);
    background: none;
    border: none;
    font-size: 28px;
    padding: 0 18px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}


/* Barra Menú Modo Responisve*/
@media (max-width: 768px){
    /*Aqui comienza el Responisve de la Pagina*/
    body{
        padding-top: 70px;
        background-position: 100%;
        height: 100vh;
    }  
    .header{
        height: 60px;
        border: none;
    }
    .logo{
        cursor: pointer;
        height: 47px;
        
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        background-color: #Fff;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 40px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
      
    }
    .nav-menu-link:hover{
        background: none;
        color: #743cbc;  
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }   
}


 /* ICONO AGREGAR */
 .contenedor .boton{
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px #ecebed;
    transition: all .3s ease-out;
}

.contenedor .boton:hover{
    width: 200px;
}

.contenedor .boton .icono{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}

.contenedor .boton .i{
    font-size: 25px;
    line-height: 60px;
}
.contenedor .boton .span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}